html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

a {
  font-family: "Karla", sans-serif;
}
